!.gitmodules
backups/
elpaca/
elpa/
eshell/
auto-save/
auto-save-list/
transient/
cnfonts/
tree-sitter/
history
.cache/
tramp
*.elc
eln-cache/
*~


# Local configuration (not tracked)
early-init.local.el
init.local.el
options.local.el

# Emacs persistent data files (*.eld)
projects
*.eld

# LSP related
.lsp-session*
lsp-mode-version-cache

.slime*
custom.el